<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to image_tag('logo.png'), main_path, class: 'icon' %>
    <%= link_to image_tag('mypage.png'), users_index_path, class: 'icon' %>
    <%= link_to 'new', new_pin_path %>
    <%= link_to 'Facebook', "https://www.facebook.com/games/pinterestapp", target: '_blank' %>
    <%= yield %>
  </body>
</html>