<!DOCTYPE html>
<html>
  <head>
    <title>Pinterest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to image_tag('logo.png'), main_path, id: 'logo' %>
    <%= link_to 'Facebook', href="https://www.facebook.com/games/pinterestapp" %>
    <%= yield %>
  </body>
</html>